<phpunit 
	colors="true"
	bootstrap="../../../public_html/index.php"
	verbose="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	> 

	<php>
		<server name="HTTP_HOST" value="Mundo.local" />
		<server name="KOHANA_ENV" value="TESTING" />
	</php>

	<testsuites> 
		<testsuite name="Mundo Tests"> 
			<file>./cases/mundo/mundo.php</file>
			<file>./cases/object/getAndSet.php</file>
			<file>./cases/object/unset.php</file>
			<file>./cases/object/inc.php</file>
			<file>./cases/object/push.php</file>
			<file>./cases/object/pop.php</file>
			<file>./cases/object/schemaless.php</file>
			<file>./cases/object/atomicity.php</file>
			<file>./cases/object/validate.php</file>
			<file>./cases/object/readWrite.php</file>
			<file>./cases/object/find.php</file>
			<file>./cases/object/update.php</file>
			<file>./cases/object/delete.php</file>
			<file>./cases/object/fieldMapping.php</file>
		</testsuite> 
	</testsuites> 

	<filter>
		<whitelist>
			<directory suffix=".php">../</directory>
			<exclude>
				<file>../classes/mundo.php</file>
				<directory>../config</directory>
				<directory>../tests</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
